@model CreateCustomerCommand
@{
	ViewData["Title"] = "CreateCustomer";
}

<h1>Yeni Musteri Ekle</h1>

<form method="post">
	<label>Ad</label>
	<input type="text" asp-for="Name" class="form-control" />
	<br />
	<label>Soyad</label>
	<input type="text" asp-for="Surname" class="form-control" />
	<br />
	<label>Sehir</label>
	<input type="text" asp-for="City" class="form-control" />
	<br />
	<button type="submit" class="btn btn-primary">Kaydet</button>
</form>