
@model List<GetCustomerQueryResult>
@{
	ViewData["Title"] = "Index";
}

<h1>Musteriler</h1>

<table class="table table-bordered">
	<tr>
		<th>Id</th>
		<th>Ad</th>
		<th>Soyad</th>
		<th>Sehir</th>
		<th>Islemler</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>@item.CustomerId</td>
			<td>@item.Name</td>
			<td>@item.Surname</td>
			<td>@item.City</td>
			<td>
				<a href="/Customer/DeleteCustomer/@item.CustomerId" class="btn btn-danger">Sil</a>
				<a href="/Customer/UpdateCustomer/@item.CustomerId" class="btn btn-info">Guncelle</a>
			</td>
		</tr>
	}

</table>

<a href="/Customer/CreateCustomer" class="btn btn-primary">Yeni Musteri Ekle</a>
